@font-face{
    font-family: "Fira Mono";
    src: url("../fonts/FiraMono/FiraMono-Medium.eot");
    src: local("Fira Mono"),
         url("../fonts/FiraMono/FiraMono-Medium.eot") format("embedded-opentype"),
         url("../fonts/FiraMono/FiraMono-Medium.woff") format("woff"),
         url("../fonts/FiraMono/FiraMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono/JetBrainsMono.woff2") format("woff2"),
    url("../fonts/JetBrainsMono/JetBrainsMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito.woff") format("woff"),
    url("../fonts/Nunito/Nunito.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans/PublicSans.woff2") format("woff2"),
    url("../fonts/PublicSans/PublicSans.ttf") format("truetype");
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}
