{{ define "title"}}
{{ .Title }} | {{ .Site.Params.hostname }}
{{ end }}

{{ define "main" }}

<div class="listWrapper">
    <div class="listHeader">
        {{ if eq .Type "tags" }}
            <h1>~/tags/{{ .Title | lower }}/</h1>
        {{ else }}
            <h1>~/{{ .Title | lower }}/</h1>
        {{ end }}
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ range .Pages }}

        <a href="{{ .Permalink }}">
            <!-- [html-validate-disable-next prefer-native-element] -->
            <div class="postListItem" role="listitem">
                <div class="postHeader">
                    <span class="postTitle">{{ .Title }}</span>
                    {{ $formattedDate := .Date.Format "2006-01-02" }}
                    <time class="postDate" datetime="{{ $formattedDate }}">{{ .Date | time.Format ":date_medium" }}</time>
                </div>
                <div class="postExcerpt">
                    <p>
                    {{ $summarySplits := split .Content "<!--start-summary-->" }}
                    {{ if ge (len $summarySplits) 2 }}
                        <!-- If content has the comment "start-summary", start there -->
                        {{ index $summarySplits 1 | plainify | truncate 270 }}
                    {{ else }}
                        {{ .Summary| markdownify | truncate 270 " [...]" }}
                    {{ end }}
                    </p>
                </div>
            </div>
        </a>


        {{end}}
    </div>
</div>

{{ end }}
