<div class="socialNavbar">
    <ul>
        {{ range sort .Site.Params.social "key"}}
        <li>
            {{ if isset . "icon" }}
                <a href="{{ .url | safeURL }}" title="{{ .name }}" {{ if .rel }} rel="{{ .rel }}"{{ end }}>
                    <svg class="feather">
                        <use href="feather-sprite.svg#{{ .icon }}" />
                    </svg>
                </a>
            {{ else }}
                <a href="{{ .url | safeURL }}" {{ if .rel }} rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
