.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.indexHeader {
    font-size: 5em;
    font-family: "Open Sans";
}

@media screen and (min-width: $mobileMaxWidth) {
    .socialNavbar i {
        font-size: 2rem;
    }
}
