.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.indexHeader {
    font-size: 5em;
    font-family: "Public Sans";
    padding-left: 1rem;
}

@media screen and (max-width: $mobileMaxWidth) {
    .indexHeader {
        font-size: 3em;
    }

    .indexWrapper {
        text-align: center;
    }
}



@media screen and (min-width: $mobileMaxWidth) {
    .socialNavbar i {
        font-size: 2rem;
    }
}
