@import "../utils/variables";

.listHeader, .listContent {
    text-align: left;
}

/**
.postWrapper ul {
  list-style: none;
}

.postWrapper ul li::before {
  content: "‒ ";
}

.postWrapper ul li {
    font-size: $genericFontSize;
    line-height: $genericLineHeight;
    display: block;
}
**/