@import "../utils/variables";

.listHeader, .listContent {
    text-align: left;
}

.postWrapper ul {
  list-style: none;
}

.postWrapper ul li::before {
  content: "— ";
}

.postWrapper ul li {
    font-size: 19px;
    line-height: 1.6;
}
